/node_modules
/public/hot
/public/storage
/public/docs
/public/docs/collection.json
/public/vendor
/resources/docs
/resources/views/scribe
/public/docs/collection.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
